 .header{
    padding-left: 100px;
    padding-right: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10;
 }

 nav a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 20px;
 }

 nav a:hover{
    color: orange;
 }